<div class="advice_portal_wrapper">
    <h2 class="center"> <%= @guide.title %> </h2>
    <h4 class="center"><%= @id %> - <%=@advice.description %> </h4>

    <%= render 'shared/advice_display_page/advice_blockers'%>
    <hr>
    <%= render 'shared/advice_display_page/advice_warnings'%>
    <hr>
    <%= render 'shared/advice_display_page/advice_tips'%>

</div>
