<div class="breadcrumbs"><%= link_to "#{@guide.title}", "/guides/#{@guide.id}" %> < Advice Portal  <%= @advice.inner_guide_id %> </div>

<div class="advice_portal_wrapper">
    <h2 class="center"> <%= @guide.title %> </h2>
    <h4 class="center"><%= @id %> - <%=@advice.description %> </h4>
    <h5>
    </h5>
    <%= render 'shared/advice_display_page/advice_questions'%>
    <hr>
    <%= render 'shared/advice_display_page/advice_issues'%>
    <hr>
    <%= render 'shared/advice_display_page/advice_tips'%>

</div>
