<% provide(:title, 'Home') %>

<div class="center jumbotron" id="homepage_jumbo">
    <div>
        <h1 id="shepherd_main">
            <%= image_tag("shepherd.png", :alt => "Shepherd Staff", :size => '80x80') %>
            Shepherd
            <%= image_tag("shepherd.png", :alt => "Shepherd Staff", :size => '80x80') %>
        </h1>
    </div>

      <h4>
          Using the Crowd to Help Improve Guides
      </h4>
    <br>

    <div>
        <%= link_to "Create a New Guide", new_guide_path, id: "create_new_guide", class: "btn btn-lg btn-primary" %>
    </div>

    <% if !logged_in?%>
        <div id="second_button">
            <%= link_to "Or sign up for access to more tools!", signup_path, class: "btn btn-sml btn-info"%>
        </div>
    <% end %>

    <div>
        <%= link_to "", guides_path, class: "btn btn-lg btn-secondary"%>

    </div>

</div>

