<div>
    <h5>
        Adding Tidbit For: <%= @guide.title %>
    </h5>

    <h5>
        Tidbit Type: <%= @advice.id %>
    </h5>

    <h5>
        Tidbit Type: <%= @tidbit_type %>
    </h5>


</div>

<div class="row">
    <h2 class="center">Enter a <%= @tidbit_type.capitalize %></h2>

    <div class="col-md-6 col-md-offset-3 jumbotron padded_jumbo">

        <%= form_for(@tidbit) do |f| %>
            <%= f.label :Question %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label :Contents %>
            <%= f.text_area :contents, class: 'form-control' %>

            <%= f.hidden_field :issue_type,:value=> @tidbit_type %>
            <%= f.hidden_field :advice_id,:value=> @advice.id  %>
            <%= f.hidden_field :user_id,:value=> current_user.id %>






            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>