<div>
    Guide Id: <%= @guide_id%>
    Advice Id: <%= @advice_id%>
    Tidbit Type: <%= @tidbit_type %>

</div>

<div class="row">
    <h2 class="center">Enter a <%= @tidbit_type.capitalize %></h2>

    <div class="col-md-6 col-md-offset-3 jumbotron padded_jumbo">

        <%= form_for(@tidbit) do |f| %>
            <%= f.label :Question %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label :Contents %>
            <%= f.text_area :contents, class: 'form-control' %>

            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>