<% provide(:title, @user.name) %>
<div class="row">
    <div class="col-md-6 center user_info">
        <h3><%= @user.name %></h3>
        <div class="jumbotron padded_jumbo">
            User Profile Here
        </div>
    </div>
    <div class="col-md-6">
        <% if @user.guides.any? %>
            <h3 class="center">Guides (<%= @user.guides.count %>)</h3>

        <% will_paginate @guides%>

            <div class="guide_index jumbotron padded_jumbo">
                <% @guides.each do |guide| %>
                    <div class="each_guide">
                        <h4>
                            <%= link_to guide.title, guide  %>
                        </h4>
                        <div>
                            <%= guide.description %>
                        </div>
                    </div>
                <% end %>
            </div>

        <% will_paginate @guides%>




    <% else %>
            <div class="center" id="second_button">
                <h5>You currently have don't have any guides. Click the button below to create one. </h5>
                <%= link_to "Create a guide!", new_guide_path, class: "btn btn-sml btn-info"%>
            </div>
        <% end %>
    </div>
</div>