<% provide(:title, @user.name) %>
<div class="row">
    <div class="col-md-6 center user_info">
        <h3><%= @user.name %></h3>
        <div class="jumbotron padded_jumbo">
            User Profile Here
        </div>
    </div>
    <div class="col-md-6">
        <% if @user.guides.any? %>
            <h3 class="center">Guides (<%= @user.guides.count %>)</h3>

        <%= will_paginate @guides, :param_name => 'guide_page'%>

            <div class="guide_index jumbotron padded_jumbo">
                <% @guides.each do |guide| %>
                    <div class="each_guide">
                        <h4>
                            <%= link_to guide.title, guide  %>
                        </h4>
                        <div>
                            <%= guide.description %>
                        </div>
                    </div>
                <% end %>
            </div>

        <%= will_paginate @guides, :param_name => 'guide_page'%>

    <% else %>
            <div class="center" id="second_button">
                <h5>You currently don't have any guides. Click the button below to create one. </h5>
                <%= link_to "Create a guide!", new_guide_path, class: "btn btn-sml btn-info"%>
            </div>
    <% end %>




    <% if @tidbits.any? %>

        <h3 class="center">Tidbits (<%= @tidbits.count %>)</h3>
            <div class="jumbotron padded_jumbo">
                <%= will_paginate @tidbits, :param_name => 'tidbit_page' %>

                <% @tidbits.each do |tidbit| %>
                    <div class="each_tidbit">
                        <div>
                            <%= link_to tidbit.title, tidbit %>
                        </div>
                    </div>
                <% end %>
                <%= will_paginate @tidbits, :param_name => 'tidbit_page' %>

            </div>

    <% else %>

    <% end %>




    </div>
</div>