<div class="advice_questions advice_container">
    <h5 class="flexible_advice">
    </h5>

     <span >
        <h4 class="center">
            <div id="questions"><%= link_to "Ask a Question", new_tidbit_path(:action => :post, :guide_id => params[:guide_id], :advice_id => params[:id], :tidbit_type => 'question'), class: "question_button btn btn-sm btn-info" %></div>

        </h4>
    </span>


    <%= will_paginate @questions%>

    <% if @questions.size == 0 %>
        <div class="tidbit_wrapper">
            <div class="center empty_tidbit_box">
            </div>
        </div>
    <% end %>


    <% @questions.each do |question| %>
    <div class="tidbit_wrapper">
        <div class="tidbit_box">
            <div class="tidbit_flex">
                    <span class="vote-vote circle">
                        <span class="vote-increment-question vote-up"></span>
                        <span class="vote-increment-question vote-down"></span>
                        <span class="vote-count">1</span>
                    </span>
                <% if question.user != nil %>
                    <span class="advice_title"><%= link_to question.user.name, question.user %>  </span>
                <% else %>
                    <span class="advice_title"><%= link_to "(Anon) " + Faker::Color.color_name.capitalize + " " + Faker::Hipster.words[0].capitalize, @guide.title%>  </span>
                <% end %>
                <span class="advice_title"> <%=link_to question.title, "/tidbits/#{question.id}" %> </span>
            </div>
        </div>
        <span class="centered advice_tidbit_information">
            Created on <%= question.created_at.to_formatted_s(:long) %>
        </span>
    </div>
    <% end %>

    <%= will_paginate @questions%>


    <script>
        //        This will not work in its current form
        $(function(){
            $(".vote-increment-question").click(function(){
                var count = parseInt($("~ .vote-count", this).text());
                if($(this).hasClass("vote-up")) {
                    count = count + 1;

                    $("~ .vote-count", this).text(count);
                } else {
                    count = count - 1;
                    $("~ .vote-count", this).text(count);
                }

                $(this).parent().addClass("vote-bump");

                setTimeout(function(){
                    $(this).parent().removeClass("vote-bump");
                }, 400);
            });
        });
    </script>



</div>