<div id="info" class="advice_info advice_container">
    <h5 class="flexible_advice">
    </h5>
    <span>
        <h4 class="center">
            <button class="tip_button btn btn-sm btn-info"> Add a Tip </button>
        </h4>
    </span>

    <%= will_paginate @tips%>

    <% if @tips.size == 0 %>
        <div class="tidbit_wrapper">
            <div class="center empty_tidbit_box">
            </div>
        </div>
    <% end %>


    <% @tips.each do |tip| %>
    <div class="tidbit_wrapper">
        <div class="tidbit_box">
            <div class="tidbit_flex">
                    <span class="vote-vote circle">
                        <span class="vote-increment-tip vote-up"></span>
                        <span class="vote-increment-tip vote-down"></span>
                        <span class="vote-count">1</span>
                    </span>

                <span class="advice_title"><%= link_to tip.user.name, tip.user %>  </span>
                <span class="advice_title"><%=tip.title %></span>
            </div>
            <span class="centered advice_tidbit_information">
                Created on <%= tip.created_at.to_formatted_s(:long) %>
            </span>
        </div>
    </div>
    <% end %>

    <%= will_paginate @tips%>


    <script>
        //        This will not work in its current form
        $(function(){
            $(".vote-increment-tip").click(function(){
                var count = parseInt($("~ .vote-count", this).text());
                if($(this).hasClass("vote-up")) {
                    count = count + 1;

                    $("~ .vote-count", this).text(count);
                } else {
                    count = count - 1;
                    $("~ .vote-count", this).text(count);
                }

                $(this).parent().addClass("vote-bump");

                setTimeout(function(){
                    $(this).parent().removeClass("vote-bump");
                }, 400);
            });
        });
    </script>


</div>
