<% provide(:title, 'All users') %>

<h1 class="center">All Guides</h1>
<div>
    <%= form_tag(guides_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Guides...", class: "search_box_header" %>
        <%= submit_tag "Search", style: "display: none;" %>
    <% end %>
</div>

<%= will_paginate @guides %>

<div class="guide_index">
    <% @guides.each do |guide| %>
        <div class="each_guide">
            <h4>
                <%= guide.id %>
                <%= link_to guide.title, guide  %>
            </h4>
            <div>
                <%= guide.description %>
            </div>
        </div>
    <% end %>
</div>

<%= will_paginate @guides %>