<% provide(:title, 'All users') %>

<h1 class="center">All Guides</h1>


<%= will_paginate @guides %>

<div class="guide_index">
    <% @guides.each do |guide| %>
        <div class="each_guide">
            <h4>
                <%= guide.id %>
                <%= link_to guide.title, guide  %>
            </h4>
            <div>
                <%= guide.description %>
            </div>
        </div>
    <% end %>
</div>

<%= will_paginate @guides %>