<div class="form_creator_no_scroll">
    <!-- This file is controlled by app/assets/javascripts/new_guide_form/new_sections_and_tasks.js -->

    <%= form_for(@guide) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div id="input_guide_form">
            <div>
                <%= render 'shared/simple_guide_creator/guide_creator_introduction'%>
            </div>
            <div>
                <!--<div id="new_guide_title">Guide Title:</div>-->
                <!--<input id="new_guide_title_edit" placeholder="Add a Title...">-->
                <%= f.label :title, id: "new_guide_title" %>
                <%= f.text_field :title, :value => "Crowdguides Guide", placeholder: "Add a title...",  id: 'new_guide_title_edit' %>
            </div>

            <div>
                <!--<div id="new_guide_description">Guide Description:</div>-->
                <!--<textarea id="new_guide_description_edit" placeholder="Add a Description..."></textarea>-->
                <%= f.label :description, id: "new_guide_description" %>
                <%= f.text_field :description, placeholder: "Add a description...",  id: 'new_guide_description_edit' %>
            </div>


            <div>
                <!--<div id="new_guide_description">Guide Description:</div>-->
                <!--<textarea id="new_guide_description_edit" placeholder="Add a Description..."></textarea>-->
                <%= f.label :content, id: "new_guide_description" %>
                <%= f.text_area :content, :value =>
'1. [1] Click the button above to learn markdown!

2. [2] Add an Advice Portal with [d], where d is a number between 0 and 10 digits. This number is the ID of the Portal, and can be moved around in the future!

3. [3] Click the "Preview" button below to update the display on the right of your screen.

4. [4] Click "Submit" to submit your guide.

5. [5] Remember that if you are logged in when you create your guide, you can edit it at a future time!

--- ', placeholder: "Use Markdown to add your own content! \nCheck out the instructions button above. ",  id: 'new_guide_content_edit' %>
            </div>


            <!--<button type="button" class="btn btn-sm btn-success new_section_button" id="new_section_button"> Add Section </button>-->
            <div class="submit_preview_button btn btn-md btn-info" id="content_preview"> Preview </div>

            <%= f.submit "Submit", class: "btn btn-lg btn-primary" %>
        </div>
    <% end %>
</div>

