<div>
    <div class="preview_form_centered"> The researcher's guide to life, the universe, and everything </div>
    <div class="preview_form_description"> Welcome to our group! This guide will help you understand how we think about research, how we go about doing it, and how we make each other smarter. </div>
    <div class="preview_form_section">

        <div class="preview_form_section_task_header">
            Getting Started
        </div>
        <div class="preview_form_section_task_wrapper">
            <%= render 'shared/simple_guide_creator/preview_form_button_advice' %>
            <div class="preview_form_section_task_title">
                1. Email Michael's admin and ask 'em to add you to the students-msb@cs.stanford.edu list. This is all of Michael's group members.
            </div>
            <div class="preview_form_section_task_description">
            </div>


        </div>

        <div class="preview_form_section_task_wrapper">
            <%= render 'shared/simple_guide_creator/preview_form_button_advice' %>
            <div class="preview_form_section_task_title">
                2. Subscribe to the hci-gates3@lists.stanford.edu list, using this form. This list is for all the CS+HCI researchers, not just Michael's group.
            </div>
            <div class="preview_form_section_task_description">
            </div>
        </div>

        <div class="preview_form_section_task_wrapper">
            <%= render 'shared/simple_guide_creator/preview_form_button_advice' %>
            <div class="preview_form_section_task_title">
                3. Join the Stanford HCI+Graphics Slack org. Make sure you subscribe to the #students-msb, #announcements, #general, and #slack-overflow channels, as well as any channels for your project. Installing the Slack desktop client will make sure you get any notification= ree often use Slack for quick chats and questions.
            </div>
            <div class="preview_form_section_task_description">
            </div>
        </div>

        <div class="preview_form_section_task_wrapper">
            <%= render 'shared/simple_guide_creator/preview_form_button_advice' %>
            <div class="preview_form_section_task_title">
                4. Subscribe to the Stanford HCI Google Calendar for all lunches, talks and other events. Use the iCal feed to do so. In Google Calendar, here are instructions for adding it; use stanfordhci@gmail.com as the email address.
            </div>
            <div class="preview_form_section_task_description">
            </div>
        </div>

        <div class="preview_form_section_task_wrapper">
            <%= render 'shared/simple_guide_creator/preview_form_button_advice' %>
            <div class="preview_form_section_task_title">
                5. Request access to the Flash Meeting Agenda. Add yourself to an upcoming agenda to introduce yourself. After that, the expectation is that you'll share informal progress, ideas and frustrations every couple weeks.
            </div>
            <div class="preview_form_section_task_description">
            </div>
        </div>
    </div>
</div>